﻿@model INP.Models.ProductListView

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

@using (Html.BeginForm("DeleteSelected", "Product", FormMethod.Post))

{
    <table class="table table-bordered">
        <tr>
            <th>
                #
            </th>
            <th>
                name
            </th>
            <th>
                type
            </th>
            <th>
                sku
            </th>
        </tr>
        @foreach (var item in Model.data)
        {
            <tr>
                <td>
                    <input type="checkbox" name="ids" value="@item.id" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sku)
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.name }, new { @class = "btn btn-sm btn-primary" })
                        @Html.ActionLink("Details", "Details", new { id = item.name }, new { @class = "btn btn-sm btn-info" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.name }, new { @class = "btn btn-sm btn-danger" })*@
                </td>
            </tr>
        }
    </table>
    <p>
        <input type="submit" value="Delete Selected Products" class="btn btn-danger" />
    </p>
}
