@model INP.Models.ProductGetView

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.data.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.data.type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data.type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.data.sku)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data.sku)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.data.description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data.description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.data.weight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data.weight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.data.width)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data.width)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.data.depth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data.depth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.data.height)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data.height)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.data.price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data.price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.data.cost_price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data.cost_price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.data.retail_price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data.retail_price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.data.tax_class_id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data.tax_class_id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.data.product_tax_code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data.product_tax_code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.data.brand_id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data.brand_id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.data.inventory_level)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data.inventory_level)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.data.inventory_warning_level)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data.inventory_warning_level)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.data.inventory_tracking)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data.inventory_tracking)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.data.fixed_cost_shipping_price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data.fixed_cost_shipping_price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.data.is_free_shipping)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data.is_free_shipping)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.data.is_visible)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data.is_visible)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.data.is_featured)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data.is_featured)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.data.bin_picking_number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data.bin_picking_number)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.data.layout_file)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data.layout_file)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.data.upc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data.upc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.data.search_keywords)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data.search_keywords)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.data.availability)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data.availability)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.data.gift_wrapping_options_type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data.gift_wrapping_options_type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.data.sort_order)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data.sort_order)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.data.condition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data.condition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.data.is_condition_shown)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data.is_condition_shown)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.data.order_quantity_minimum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data.order_quantity_minimum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.data.order_quantity_maximum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data.order_quantity_maximum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.data.view_count)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data.view_count)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.data.preorder_release_date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data.preorder_release_date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.data.is_preorder_only)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data.is_preorder_only)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.data.is_price_hidden)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data.is_price_hidden)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.data.open_graph_type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data.open_graph_type)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
