@model INP.Models.ProductListView


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>INP</h2>

<p>
    @Html.ActionLink("Create New Product", "Create", new {}, new { @class = "btn btn-sm btn-primary" })
</p>

@using (Html.BeginForm("Index", "Product", FormMethod.Get))
{
    <div class="form-inline form-group">
        <label class="control-label">Name </label>
        @Html.TextBox("name", Model.Name, htmlAttributes: new { @class = "form-control" })

        <label class="control-label">Sku </label>
        @Html.TextBox("sku", Model.Sku, htmlAttributes: new { @class = "form-control" })

        <input type="submit" value="Filter" class="btn btn-default" />
    </div>
}

    
@using (Html.BeginForm("DeleteSelected", "Product", FormMethod.Post))
{
    <table class="table table-bordered">
        <tr>
            <th>
                #
            </th>
            <th>
                name
            </th>
            <th>
                price
            </th>
            <th>
                type
            </th>
            <th>
                sku
            </th>
            <th>
                actions
            </th>
        </tr>
        @foreach (var item in Model.data)
        {
            <tr>
                <td>
                    <input type="checkbox" name="ids" value="@item.id" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sku)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.id, page = Model.meta.pagination.current_page }, new { @class = "btn btn-sm btn-danger" })
                    @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-sm btn-info" })
                </td>
            </tr>
        }
    </table>
    <p>
        <input type="submit" value="Delete Selected Products" class="btn btn-danger" page=@Model.meta.pagination.current_page/>
    </p>
}

@if (Model.meta.pagination.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.meta.pagination.current_page - 1)"
       asp-route-name="@Model.Name"
       asp-route-sku="@Model.Sku"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Previous
    </a>
}
@if (Model.meta.pagination.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.meta.pagination.current_page + 1)"
       asp-route-name="@Model.Name"
       asp-route-sku="@Model.Sku"
       class="btn btn-default btn">
        Next
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}
